
body{
    font-family: 'Raleway', sans-serif;
}

#headerimage  {
  width: 100%;
  height: 850px;
  background-image: url("img/desktop.jpg");
  background-size:cover;
}

#footer {
  text-align: center;
}

h3 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h4 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.light {
  text-align: center;
}

/* Centered text */
#centered {
    position: absolute;
    top: 45%;
    left: 31%;
    transform: translate(-50%, -50%);
    font-size: 7em;
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    text-shadow: 2px 2px #000000;
}

    h3 {
      font-size: 50px;
    }

}

@media only screen and (min-width: 768px) {
  #centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 767px) {
  #centered {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
  }

  p {
    font-size: 1.1em;
  }

  .header-image {
    width: 50%;
    height: 50%;
  }

}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  #centered {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
  #centered {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
  }
}
